$nav-height: 70px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$title-padding-top: ($title-decoration-height - $text-big / 2px)+10px;
$title-padding-bottom: $title-decoration-height - $text-big / 2px;
$title-padding-left: 50px;
$title-padding-right: 0px;
$tech-width: 200px;
$tech-height: 300px;
$container-padding-left: 35px;
$nav-height: 90px;
