@import './var/_font';
@import './var/_sizes';
* {
  font-family: $font-stack;

}

body{
  padding: 3% 20%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 $title-decoration-width/2;
}
