@import './var/sizes'



.title {
  color: red;

  .decoration{
    height: $title-decoration-height;
    width: $title-decoration-width;
  }
}

.nav{
  height: $nav-height;

  .logo{
    height: $nav-logo-height;
  }
}

.tech{
  .logo{
    size:$tech-logo-size;
  }
}
