@import './var/_sizes';

.title {
    color: black;
    font-family: $font-stack;
    font-size: $text-big;
    background: url(./assets/title_icon.svg) no-repeat left;
    background-size: $title-decoration-width $title-decoration-height;
    padding: $title-padding-top $title-padding-right $title-padding-bottom $title-padding-left;
}
